body{
margin:0;
padding:0;
}
header{
text-align:center;
background-color:#ADD8E6;
color:#808000;
padding:10px;
}
nav{
border:2px solid black;
background-color:#87CEEB;
}
nav>ul>li>a{
font-size:18px;
color:#556B2F;
}
footer{
text-align:center;
}
.box{
background-color:LightGrey;
padding:20px;
font-size:18px;
color:#6B8E23;
}
ul{
display:flex;
}
li{
margin-right:27%;
}
section{
margin-top:-20px;
text-align:center;
background-color:#87CEFA;
}
h2{
padding:20px;
color:#006400;
}
section>p{
font-size:18px;
padding:20px;
color:#006400;
}
a:hover{
color:blue;
}